---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import GithubReadmeCv from "../components/cv/GithubReadmeCV.jsx";

const currentYear = new Date().getFullYear();

const educationSub = `2018 to ${currentYear}, Mozilla Developer Network`;
---

<BaseLayout title="Resume">
  <GithubReadmeCv client:load />

  <div class="flex mb-5 gap-6">
    <a class="btn" href="/projects"> Portfolio</a>
    <a
      class="btn btn-outline"
      href="https://resume.showwcase.com/fgbyte.pdf"
      target="_blank">Download CV</a
    >
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Frontend Web Developer"
      subtitle="2022 as Freelancer, WorldWide"
      desc="Crafting dynamic user interfaces with cutting-edge technologies, I am proficient in TypeScript and React, building scalable web applications. I utilize Storybook to create design systems and Astro for websites, ensuring efficient development and seamless collaboration."
    />
    <TimeLineElement
      title="UI Developer"
      subtitle="2020 as Freelancer, WorldWide"
      desc="Adept at transforming design concepts into interactive and user-friendly digital interfaces, I am proficient in leveraging technologies such as HTML, CSS, and JavaScript."
    />
    <TimeLineElement
      title="UI Designer"
      subtitle="2018 as Freelancer, WorldWide"
      desc="Equipped with advanced skills in Photoshop, Adobe XD, and Figma, I seamlessly integrate design into WordPress with technical functionality."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement title="Front-End Web Developer" subtitle={educationSub} />
    <TimeLineElement
      title="Bachelor's Degree in Food Science"
      subtitle="2012 to 2018, University of Havana"
    />
    <TimeLineElement
      title="Technician Information-Technology"
      subtitle="2008 to 2011, Computer Science Polytechnic Institute, Matanzas, Cuba"
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://community.open-bootcamp.com/user/fgbyte/certificaciones/d604a704-67e9-487d-9301-7bbc64e5a629"
        target="_blank">Open-Bootcamp <b>HTML-CSS</b> Certification</a
      >
    </li>
    <li>
      <a
        href="https://community.open-bootcamp.com/user/fgbyte/certificaciones/0cf954b5-9df9-4477-bdd1-8df1df9fab36"
        target="_blank"
        >Open-Bootcamp <b>JavaScript</b> Certification
      </a>
    </li>
    <li>
      <a href="#" target="_blank"> EF SET English Certificate 74/100 (C2 Proficient)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Docker</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>Bootstrap</li>
    <li>TaildwindCSS</li>
    <li>Astro</li>
    <li>React</li>
    <li>NodeJS</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>UI Design</li>
    <li>UX Design</li>
    <li>Web Design</li>
    <li>Atomic Design</li>
    <li>Wordpress</li>
    <li>n8n</li>
    <li>Figma</li>
    <li>Photoshop</li>
    <li>Vercel</li>
    <li>Cloudflare</li>
    <li>Cloudflare Zaraz</li>
  </ul>

  <div class="flex gap-6 mt-7">
    <a class="btn" href="/refunds-policy"> Refunds Policy</a>
  </div>
</BaseLayout>

