---
  import BaseLayout from "../layouts/BaseLayout.astro";
  import type { Project } from '../types';
  import HorizontalProject from '../components/HorizontalProject.astro';


  const projects = (await Astro.glob<Project>('./project/**/*.md'))
    .filter(({ frontmatter }) => !!frontmatter.publishDate)
    .sort(
      (a, b) =>
        new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
    );
---

<BaseLayout title="Projects">
  
  <h1 class="text-3xl w-full font-bold mb-5">Porjects Grid Format</h1>
  <div class="grid">
    {projects.map((project) =>
    <HorizontalProject project={project} />)}
  </div>

</BaseLayout>