---
import BaseLayout from "../layouts/BaseLayout.astro";
import ReactivePayments from "../components/payments/ReactivePayments.jsx";
import { qrData } from "../components/helpers/qrData.js";
---

<BaseLayout
  title="Fernando Garcia | Support my Work"
  description="If you find my work helpful you can support it donating the amount you can with any of these methods."
>
  <p class="my-10 mx-auto text-center md:px-20">
    If you find my work helpful you can support it donating the amount you can
    with any of these methods. Thanks for help me to keep doing this :)
  </p>

  <div class="gap-6 flex-col flex">
    <!-- links remesita -->
    <div class="dropdown m-auto w-full md:w-auto">
      <button
        tabindex="0"
        class="btn w-full md:w-96 btn-outline gap-2 flex justify-between"
      >
        <img
          src="https://static-00.iconduck.com/assets.00/visa-icon-256x79-nikia4dp.png"
          class="w-9"
        />
        <div>MasterCard / Visa</div>
        <div class="w-9"></div>
      </button>
      <ul
        tabindex="0"
        class="dropdown-content menu p-2 shadow bg-base-100 mx-auto rounded-box w-full md:w-96"
      >
        <li>
          <a
            href="https://remesita.com/payme/d1779099-f0f3-11ed-809a-02420a002209/5/Donation"
            target="_blank">5 USD</a
          >
        </li>
        <li>
          <a
            href="https://remesita.com/payme/d1779099-f0f3-11ed-809a-02420a002209/10/Donation"
            target="_blank">10 USD</a
          >
        </li>
        <li>
          <a
            href="https://remesita.com/payme/d1779099-f0f3-11ed-809a-02420a002209/25/Donation"
            target="_blank">25 USD</a
          >
        </li>
        <li>
          <a
            href="https://remesita.com/payme/d1779099-f0f3-11ed-809a-02420a002209/50/Donation"
            target="_blank">50 USD</a
          >
        </li>
        <li>
          <a
            href="https://remesita.com/payme/d1779099-f0f3-11ed-809a-02420a002209/100/Donation"
            target="_blank">100 USD</a
          >
        </li>
        <li>
          <a
            href="https://remesita.com/payme/d1779099-f0f3-11ed-809a-02420a002209/200/Donation"
            target="_blank">200 USD</a
          >
        </li>
      </ul>
    </div>

    <ReactivePayments client:only data={qrData} />

    <!-- <a
      href="https://qvapay.com/payme/fgbyte"
      target="_blank"
      class="btn btn-outline w-full md:w-96 gap-2 flex justify-between m-auto"
    >
      <img src="https://manuelernestog.github.io/paylink/images/crypto/qvapay.svg" class="w-9 h-9" />
      <div>Qvapay / Crypto</div>
      <div class="w-9 h-9"></div>
    </a> -->
  </div>
</BaseLayout>
